body{
  margin: 1%;
  padding: 1%;
  background-color: black;
  color:  white;
}
button{
  margin: 4px;
}
.conteiner{
  position: absolute;
  margin: 4%;
  align-items: center;
  border: 2px solid rgb(240, 5, 5);
 
}